{% import 'SnowcapBootstrapBundle::macros.html.twig' as bootstrap %}
<!DOCTYPE html>
<html lang="{{ app.session.locale }}">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{% block title %}Snowcap Admin{% endblock %}</title>
		{% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/snowcapbootstrap/vendor/bootstrap/css/bootstrap.min.css') }}"/>
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/snowcapadmin/css/all.css') }}"/>
		{% endblock %}
		<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
	</head>
	<body>
        {% render('SnowcapAdminBundle:Default:navigation') %}
        <div class="container">
            {% from 'SnowcapBootstrapBundle::macros.html.twig' import alert %}
            {% for type, flash in app.session.getFlashes() %}
                {{ alert(flash, type, null, true) }}
            {% endfor %}
            {% block body %}{% endblock %}
        </div>
        <div class="modal fade" id="modal" style="display: none"></div>
        {% block javascripts %}
            <script src="{{ asset('bundles/snowcapcore/vendor/jquery/jquery.min.js') }}"></script>
            <script src="{{ asset('bundles/snowcapbootstrap/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('bundles/snowcapadmin/vendor/ckeditor/ckeditor.js') }}"></script>
            <script src="{{ asset('bundles/snowcapadmin/vendor/ckeditor/adapters/jquery.js') }}"></script>
            <script src="{{ asset('bundles/snowcapcore/js/all.js') }}"></script>
            <script src="{{ asset('bundles/snowcapadmin/js/all.js') }}"></script>
            <script src="{{ asset('bundles/snowcapadmin/js/ckeditor.js') }}"></script>
        {% endblock %}
	</body>
</html>