{% extends 'SnowcapBootstrapBundle::forms.html.twig' %}

{% block snowcap_admin_inline_widget %}
    {{ block('choice_widget') }}
    <p>
        {% if value is not empty %}
        <a rel="preview" href="{{ path('snowcap_admin_inline_preview', {'code': inline_admin.code, 'id': value }) }}">Preview</a>
        {% endif %}
        {% if choices is not empty %}
            <a class="btn btn-small" rel="select" href="{{ path('snowcap_admin_inline_select', {'code': inline_admin.code }) }}"><i class="icon-search"></i> Search</a>
        {% endif %}
        <a class="btn btn-small btn-primary" rel="create" href="{{ path('snowcap_admin_inline_create', {'code': inline_admin.code, 'property': property }) }}"><i class="icon-plus icon-white"></i> Add</a>
    </p>
{% endblock %}

{% block fieldset_widget %}
{% spaceless %}
    <fieldset>
        <legend>{{ legend }}</legend>
        {{ block('field_rows') }}
    </fieldset>
{% endspaceless %}
{% endblock %}