{% extends 'SnowcapBootstrapBundle::forms.html.twig' %}

{% block snowcap_admin_inline_widget %}
    {{ block('choice_widget') }}
    <p>
        <ul class="inline-preview thumbnails">
            {% if value is not empty %}
                {% set entity = data %}
                {{ preview_widget(entity,inline_admin,property) }}
            {% else %}
                <li class="empty">{{ 'None selected yet' | trans }}</li>
            {% endif %}
        </ul>
        <a class="btn btn-small btn-primary" rel="create" href="{{ path('snowcap_admin_inline_create', {'code': inline_admin.code, 'property': property }) }}"><i class="icon-plus icon-white"></i> Select</a>
    </p>
{% endblock %}

{% block fieldset_widget %}
{% spaceless %}
    <fieldset>
        <legend>{{ legend }}</legend>
        {{ block('field_rows') }}
    </fieldset>
{% endspaceless %}
{% endblock %}

{% block slug_widget %}
    {% set attr = attr|merge({'class': 'widget-slug widget-slug-' ~ target }) %}
    <div class="input-append">
        {{ block('field_widget') }}
        <span class="add-on"><a href="#locked"><i class="icon-pencil icon"></i></a></span>
    </div>
    {% from 'SnowcapBootstrapBundle::macros.html.twig' import modal %}
    {{ modal('modal-slug', 'ATTENTION', 'If you change the slug, you can break links on other pages') }}
{% endblock slug_widget %}

{% block markdown_widget %}
{% set attr = attr|merge({'class': attr.class|default('widget-markdown')}) %}
{% spaceless %}
<div class="tabbable tabs-below">

    <div class="tab-content">
        <div class="tab-pane active" id="textarea-{{ id }}">
            <textarea {{ block('widget_attributes') }} data-url="{{ path('snowcap_admin_markdown') }}" rows="10">{{ value }}</textarea>
        </div>
        <div class="tab-pane" id="preview-{{ id }}">
            <div class="markdown-previewer">&nbsp;</div>
        </div>
    </div>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#textarea-{{ id }}" data-toggle="tab" class="text-trigger">Text</a></li>
        <li><a href="#preview-{{ id }}" data-toggle="tab" class="preview-trigger">Preview</a></li>
    </ul>
</div>
{% endspaceless %}
{% endblock %}

{% block collection_widget %}
{% spaceless %}
{% if prototype is defined %}
    {% set attr = attr|merge({'data-prototype': form_row(prototype) }) %}
{% endif %}
{% if tabbable %}
    <ul class="nav nav-tabs">
    {% for key, row in form %}
        {% set label = row[property].get('value') %}
        <li{% if key == 0 %} class="active"{% endif %}><a href="#{{ html_id }}-{{label}}" data-toggle="tab">{{ form_label(row, label) }}</a></li>
    {% endfor %}
    </ul>
    <div class="tab-content">
    {% for key, row in form %}
        {% set label = row[property].get('value') %}
        {% spaceless %}
                <div class="tab-pane{% if key == 0 %} active{% endif %}" id="{{ html_id }}-{{label}}">
                    {{ form_errors(row) }}
                    {{ form_widget(row, {'attr': widget_attr|default({})}) }}
                </div>
        {% endspaceless %}
    {% endfor %}
    </div>
{% else %}
    {{ block('form_widget') }}
{% endif %}
{% endspaceless %}
{% endblock collection_widget %}
