{% extends 'SnowcapBootstrapBundle::forms.html.twig' %}

{% block snowcap_admin_inline_widget %}
    {{ block('choice_widget') }}
    <p>
        {% if value is not empty %}
        <a rel="preview" href="{{ path('snowcap_admin_inline_preview', {'code': inline_admin.code, 'id': value }) }}">Preview</a>
        {% endif %}
        {% if choices is not empty %}
            <a class="btn btn-small" rel="select" href="{{ path('snowcap_admin_inline_select', {'code': inline_admin.code }) }}"><i class="icon-search"></i> Search</a>
        {% endif %}
        <a class="btn btn-small btn-primary" rel="create" href="{{ path('snowcap_admin_inline_create', {'code': inline_admin.code, 'property': property }) }}"><i class="icon-plus icon-white"></i> Add</a>
    </p>
{% endblock %}

{% block fieldset_widget %}
{% spaceless %}
    <fieldset>
        <legend>{{ legend }}</legend>
        {{ block('field_rows') }}
    </fieldset>
{% endspaceless %}
{% endblock %}

{% block markdown_widget %}
{% set attr = attr|merge({'class': attr.class|default('widget-markdown span10')}) %}
{% spaceless %}
    <ul class="nav nav-tabs">
        <li class="active"><a href="#textarea-{{ id }}" data-toggle="tab" class="text-trigger">Text</a></li>
        <li><a href="#preview-{{ id }}" data-toggle="tab" class="preview-trigger">Preview</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="textarea-{{ id }}">
            <textarea {{ block('widget_attributes') }} data-url="{{ path('snowcap_admin_markdown') }}" rows="10">{{ value }}</textarea>
        </div>
        <div class="tab-pane" id="preview-{{ id }}">
            <div class="markdown-previewer">&nbsp;</div>
        </div>
    </div>
{% endspaceless %}
{% endblock %}