{% block grid_widget_orderablecontent %}
    <div class="grid grid-orderablecontent">
        <form method="post" action="{{ grid.orderFormAction }}">
            <div class="grid-update">
                {{ form_widget(grid.orderFormView) }}
            </div>
            <div class="grid-submit message message-action ui-widget ui-state-highlight">
                <p>The order of the grid items has changed.</p>
                <button type="submit" class="ui-icon ui-icon-circle-check">Update</button>
            </div>
        </form>
        <table>
            <thead>
                <tr>
                    <th class="grid-drag"></th>
                    {% for column_name, column_params in grid.columns %}
                        {{ grid_header(column_name, column_params) }}
                    {% endfor %}
                    {% if grid.actions | length > 0 %}
                        <th>{{ "content.actions.header" | trans }}</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for data_row in grid.data %}
                    <tr>
                        <td class="grid-drag"><a href="{{ grid.getDragLink(data_row) }}"></a></td>
                        {% for column_name, column_params in grid.columns %}
                            {{ grid_cell(data_row, column_name, column_params) }}
                        {% endfor %}
                        {% if grid.actions | length > 0 %}
                            {{ block('row_actions') }}
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block grid_widget_content %}
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                {% for column_name, column_params in grid.columns %}
                    {{ grid_header(column_name, column_params) }}
                {% endfor %}
                {% if grid.actions | length > 0 %}
                    <th>{{ "content.actions.header"|trans({}, 'SnowcapAdminBundle') }}</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for data_row in grid.data %}
                <tr>
                    {% for path, params in grid.columns %}
                    {{ grid_cell(data_row, path, params) }}
                    {% endfor %}
                    {% if grid.actions | length > 0 %}
                        {{ block('row_actions') }}
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block row_actions %}
    <td class="listing-actions">
        {% for action_route, action_config in grid.actions %}
            {% set action_path = path(action_route, action_config.parameters | merge({'id': data_row.id })) %}
            <a class="btn btn-small" href="{{ action_path }}">
                {% if action_config.options.icon is defined %}<i class="{{ action_config.options.icon }}"></i>{% endif %}
                {{ action_config.options.label|trans({}, 'SnowcapAdminBundle') }}
            </a>
        {% endfor %}
    </td>
{% endblock %}

{% block cell %}
    <td>{{ output }}</td>
{% endblock %}

{% block header %}
    <th>{{ output|trans({}, 'SnowcapAdminBundle') }}</th>
{% endblock %}