{% block default_preview %}
<li data-entity-id="{{ entity.id }}">
    <div class="thumbnail">
        <h5>{{ attribute(entity,property) }}</h5>
        <p>
            <a rel="delete-inline" class="btn btn-warning">{{ 'unlink' | trans}}</a>
        </p>
    </div>
</li>
{% endblock %}

{% block image_preview %}
<li data-entity-id="{{ entity.id }}">
    <div class="thumbnail">
        <img src="{{ entity.webPath|imresize('admin_thumb') }}" alt="{{ entity.alt|default('Alternate text')}}" />
        <div class="caption">
            <h5>{{ entity.title }}</h5>
            <p>
                <a rel="delete-inline" class="btn btn-warning">{{ 'unlink' | trans}}</a>
            </p>
        </div>
    </div>
</li>
{% endblock %}
