{% extends 'SnowcapAdminBundle::base.html.twig' %}

{% form_theme form 'SnowcapAdminBundle:Form:form_layout.html.twig' %}

{% set form_class = form_class|default('form_vertical') %}
{% set extra_form_classes = extra_form_classes|default([]) %}

{# body block #}
{% block body %}

    {# pageheader block - to be provided by child templates  #}
    {% block page_header %}
        <div class="page-header">
            <h1>{{ title }}</h1>
        </div>
    {% endblock page_header %}

    {# form_before block - to be provided by child templates  #}
    {% block form_before %}{% endblock form_before %}

    {# main block #}
    {% block form %}

        <form
            action="{{ form_action }}"
            method="post" {{ form_enctype(form) }}
            novalidate="novalidate"
            class="{{ ([form_class]|merge(extra_form_classes))|join(' ') }}"
            data-admin="form-change-warning"
        >

            {# formfields block #}
            {% block form_fields %}{% endblock form_fields %}
            {{ form_rest(form) }}

            {# formactions block #}
            {% block form_actions %}
                <div class="form-actions">
                    <button type="submit" name="saveMode" class="btn btn-primary" value="{{ constant('Snowcap\\AdminBundle\\Admin\\ContentAdmin::SAVEMODE_NORMAL') }}">
                        {{ "content.actions.save"|trans({}, 'SnowcapAdminBundle') }}
                    </button>
                    <button type="submit" name="saveMode" class="btn" value="{{ constant('Snowcap\\AdminBundle\\Admin\\ContentAdmin::SAVEMODE_CONTINUE') }}">
                        {{ "content.actions.saveandcontinue"|trans({}, 'SnowcapAdminBundle') }}
                    </button>
                </div>
            {% endblock form_actions %}

        </form>
    {% endblock form %}

    {# postform block - to be provided by child templates  #}
    {% block form_after %}{% endblock form_after %}

{% endblock body %}