{% extends "SnowcapAdminBundle::base.html.twig" %}

{% form_theme forms form_theme_template %}

{# body block #}
{% block body %}

    {# pageheader block - to be provided by child templates  #}
    {% block pageheader %}{% endblock pageheader %}

    {# main block #}
    {% block main %}
        <form
            action="{{ form_action }}"
            method="post" {{ form_enctype(forms) }}
            novalidate="novalidate"
            class="form-vertical"
        >

            {# formfields block #}
            {% block formfields %}
                {{ form_rest(forms) }}
            {% endblock formfields %}

            {# formaction block #}
            {% block formactions %}
                <div class="form-actions">
                    <button type="submit" name="saveMode" class="btn btn-large btn-primary" value="{{ constant('Snowcap\\AdminBundle\\Admin\\ContentAdmin::SAVEMODE_NORMAL') }}">
                        {{ "content.actions.save"|trans({}, 'SnowcapAdminBundle') }}
                    </button>
                    <button type="submit" name="saveMode" class="btn btn-large" value="{{ constant('Snowcap\\AdminBundle\\Admin\\ContentAdmin::SAVEMODE_CONTINUE') }}">
                        {{ "content.actions.saveandcontinue"|trans({}, 'SnowcapAdminBundle') }}
                    </button>
                </div>
            {% endblock formactions %}

        </form>
    {% endblock main %}

{% endblock body %}