{% extends "SnowcapAdminBundle::base.html.twig" %}
{% import 'SnowcapBootstrapBundle::macros.html.twig' as bootstrap %}

{% if contentForm is defined %}
    {% form_theme contentForm form_theme_template %}
{% endif %}

{# body block #}
{% block body %}

    {# pageheader block #}
    {% block pageheader %}
        <div class="page-header">
            <h2>{{ "content.list.title"|trans({'%content_name%': admin.param('label')|transchoice(10)}, 'SnowcapAdminBundle') }}</h2>
        </div>
    {% endblock pageheader %}

    {# above block #}
    {% block above %}{% endblock %}

    {# searchform block #}
    {% block searchform %}
        {% if contentForm.search is defined and (list.data is not empty or contentForm.search.vars.value is not empty) %}
            <form action="{{ path('snowcap_admin_content_index', {'code': admin.code}) }}" method="GET" class="form-search" novalidate="novalidate">
                {% for field in contentForm.search %}
                    {{ form_widget(field, { 'attr': { 'placeholder': "content.search.label"|trans({}, 'SnowcapAdminBundle')}}) }}
                {% endfor %}
                <button type="submit" class="btn">{{ "content.search.submit"|trans({}, 'SnowcapAdminBundle') }}</button>
                <a href="{{ path('snowcap_admin_content_index', {'code': admin.code}) }}" class="btn primary">{{ "content.search.reset"|trans({}, 'SnowcapAdminBundle') }}</a>
            </form>
        {% endif %}
    {% endblock searchform %}

    {# list block #}
    {% block list %}

        {% set list_content %}
            {% if list.data is not empty %}
                {{ list_widget(list) }}
                {% if list.paginator != null %}
                    {% include 'SnowcapBootstrapBundle:Widget:paginator.html.twig' with { 'paginator': list.paginator }%}
                {% endif %}
            {% else %}
                {{ bootstrap.alert("content.list.empty"|trans({'%content_name%': admin.param('label')|transchoice(1, {}, 'SnowcapAdminBundle')}, 'SnowcapAdminBundle')) }}
            {% endif %}
        {% endset %}

        {% set has_filters = contentForm.filters is defined %}

        {% if has_filters %}
            <div class="row">
                <div class="span9">{{ list_content }}</div>
                <div class="span3">
                    <div class="well">
                        <h3>{{ "content.filter.title"|trans({}, 'SnowcapAdminBundle') }}</h3>
                        <form action="{{ path('snowcap_admin_content_index', {'code': admin.code}) }}" method="GET" class="form-filter" novalidate="novalidate">
                            {% for filter in contentForm.filters %}
                                {{ form_row(filter, {'attr': {'class': 'input-medium'}}) }}
                            {% endfor %}
                            <button type="submit" class="btn">{{ "content.filter.submit"|trans({}, 'SnowcapAdminBundle') }}</button>
                            <a href="{{ path('snowcap_admin_content_index', {'code': admin.code}) }}" class="btn primary">{{ "content.filter.reset"|trans({}, 'SnowcapAdminBundle') }}</a>
                        </form>
                    </div>
                </div>
            </div>
        {% else %}
            {{ list_content }}
        {% endif %}
        <hr/>
    {% endblock list %}

    {# below block #}
    {% block below %}{% endblock %}

    {# actions block #}
    {% block actions %}
        <p>
            <a class="btn btn-primary" href="{{ path('snowcap_admin_content_create', {'code': admin.code}) }}">
                <i class="icon-plus icon-white"></i>
                {{ "content.actions.create"|trans({}, 'SnowcapAdminBundle') }}
            </a>
            {% if reorder %}
                <a class="btn open-reorder" href="{{ path('snowcap_admin_reorderablecontent_reorder', {'code': admin.code}) }}">
                    <i class="icon-plus"></i>
                    {{ "content.actions.reorder"|trans({}, 'SnowcapAdminBundle') }}
                </a>
            {% endif %}
        </p>
    {% endblock actions %}

{% endblock body %}