{% extends "SnowcapAdminBundle::base.html.twig" %}
{% import 'SnowcapBootstrapBundle::macros.html.twig' as bootstrap %}

{# body block #}
{% block body %}

    {# pageheader block #}
    {% block pageheader %}
        <div class="page-header">
            <h1>{{ "content.list.title"|trans({'%content_name%': admin.option('label')|transchoice(10)}, 'SnowcapAdminBundle') }}</h1>
        </div>
    {% endblock pageheader %}

    {# above block #}
    {% block above %}{% endblock %}

    {# list block #}
    {% block list %}

        {% if datalist is  empty %}
            {{ bootstrap.alert("content.list.empty"|trans({'%content_name%': admin.option('label')|transchoice(1, {}, 'SnowcapAdminBundle')}, 'SnowcapAdminBundle')) }}
        {% endif %}
        {{ datalist_widget(datalist) }}
        <hr/>
    {% endblock list %}

    {# below block #}
    {% block below %}{% endblock %}

    {# actions block #}
    {% block actions %}
        <p>
            <a class="btn btn-primary" href="{{ admin_content_path(admin, 'create') }}">
                <i class="icon-plus icon-white"></i>
                {{ "content.actions.create"|trans({}, 'SnowcapAdminBundle') }}
            </a>
        </p>
    {% endblock actions %}

{% endblock body %}