{% extends "SnowcapAdminBundle::base.html.twig" %}
{% import 'SnowcapBootstrapBundle::macros.html.twig' as bootstrap %}

{% if search_form is defined %}
    {% form_theme search_form form_theme_template %}
{% endif %}
{% if filter_form is defined %}
    {% form_theme filter_form form_theme_template %}
{% endif %}

{# body block #}
{% block body %}

    {# pageheader block #}
    {% block pageheader %}
        <div class="page-header">
            <h2>{{ "content.list.title"|trans({'%content_name%': admin.option('label')|transchoice(10)}, 'SnowcapAdminBundle') }}</h2>
        </div>
    {% endblock pageheader %}

    {# above block #}
    {% block above %}{% endblock %}

    {# list block #}
    {% block list %}

        {% set list_content %}
        {% if list is not empty %}
            {{ datalist_widget(list) }}
        {% else %}
            {{ bootstrap.alert("content.list.empty"|trans({'%content_name%': admin.option('label')|transchoice(1, {}, 'SnowcapAdminBundle')}, 'SnowcapAdminBundle')) }}
        {% endif %}
        {% endset %}

        {% if filter_form is defined %}
            <div class="row">
                <div class="span9">{{ list_content }}</div>
                <div class="span3">
                    <div class="well">
                        <h3>{{ "content.filter.title"|trans({}, 'SnowcapAdminBundle') }}</h3>
                        <form action="{{ admin_content_path(admin, 'index') }}" method="GET" class="form-filter" novalidate="novalidate">
                            {% for filter in filter_form %}
                                {{ form_row(filter, {'attr': {'class': 'input-medium'}}) }}
                            {% endfor %}
                            <button type="submit" class="btn">{{ "content.filter.submit"|trans({}, 'SnowcapAdminBundle') }}</button>
                            <a href="{{ admin_content_path(admin, 'index') }}" class="btn primary">{{ "content.filter.reset"|trans({}, 'SnowcapAdminBundle') }}</a>
                        </form>
                    </div>
                </div>
            </div>
        {% else %}
            {{ list_content }}
        {% endif %}
        <hr/>
    {% endblock list %}

    {# below block #}
    {% block below %}{% endblock %}

    {# actions block #}
    {% block actions %}
        <p>
            <a class="btn btn-primary" href="{{ admin_content_path(admin, 'create') }}">
                <i class="icon-plus icon-white"></i>
                {{ "content.actions.create"|trans({}, 'SnowcapAdminBundle') }}
            </a>
            {% if reorder %}
                <a class="btn open-reorder" href="{{ path('snowcap_admin_reorderablecontent_reorder', {'code': admin.code}) }}">
                    <i class="icon-plus"></i>
                    {{ "content.actions.reorder"|trans({}, 'SnowcapAdminBundle') }}
                </a>
            {% endif %}
        </p>
    {% endblock actions %}

{% endblock body %}