{% extends 'SnowcapAdminBundle::modal_base.html.twig' %}

{% form_theme form 'SnowcapAdminBundle:Form:form_layout.html.twig' %}

{% set form_class = form_class|default('form_vertical') %}
{% set extra_form_classes = extra_form_classes|default([]) %}

{% trans_default_domain 'SnowcapAdminBundle' %}

{# modal_before block #}
{% block modal_before %}
<form
    action="{{ form_action }}"
    method="post" {{ form_enctype(form) }}
    novalidate="novalidate"
    class="{{ ([form_class]|merge(extra_form_classes))|join(' ') }}"
>
{% endblock modal_before %}

{# modal_title block #}
{% block modal_title %}
    <h3>{{ title }}</h3>
{% endblock modal_title %}

{# body block #}
{% block modal_body %}

    {# form_fields block #}
    {% block form_fields %}{% endblock form_fields %}
    {{ form_rest(form) }}

{% endblock modal_body %}

{# modal_footer block #}
{% block modal_footer %}

    <button type="button" class="btn" data-dismiss="modal">{{ "content.actions.cancel"|trans }}</button>
    <button type="submit" name="saveMode" class="btn btn-primary" value="{{ constant('Snowcap\\AdminBundle\\Admin\\ContentAdmin::SAVEMODE_NORMAL') }}">
        {{ "content.actions.save"|trans }}
    </button>

{% endblock modal_footer %}

{# modal_after block #}
{% block modal_after %}</form>{% endblock modal_after %}