{% extends 'SnowcapAdminBundle::base.html.twig' %}

{% trans_default_domain 'SnowcapAdminBundle' %}

{% block body %}

    <div class="well well-small" id="login-form">
        <h3>{{ "security.login.title"|trans }}</h3>
        {% if error %}
            <div class="alert alert-error">
                {{ error.message }}
            </div>
        {% endif %}
        <form action="{{ path('snowcap_admin_login_check') }}" method="post" class="form">
            <div class="control-group">
                <div class="controls">
                    <input type="text" id="username" name="_username" class="input-block-level" value="{{ last_username }}" placeholder="{{ "security.login.username"|trans }}"/>
                </div>
            </div>
            <div class="control-group">
                <div class="controls"><input type="password" id="password" class="input-block-level" name="_password" placeholder="{{ "security.login.password"|trans }}"/></div>
            </div>
            {#
                If you want to control the URL the user is redirected to on success (more details below)
                <input type="hidden" name="_target_path" value="/account" />
            #}
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary text-right">{{ "security.login.login"|trans }} <i class="icon-lock icon-white"></i></button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}

