{# thumbnail view #}
{% block list_thumbnail %}
<ul class="thumbnails">
    {% for data_row in list.data %}
    <li class="span3">
        <div class="thumbnail">
            {{ block('list_thumbnail_visual') }}
            <div class="caption">
                {% if list.view.label is not null %}
                    <h4>VALUE</h4>
                {% endif %}
                {% if list.view.description is not null %}
                    <p>VALUE</p>
                {% endif %}
                <p>
                    {{ block('row_actions') }}
                </p>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}

{% block list_thumbnail_visual %}
    {% if(list.view.image is defined) %}
        {% set image_src = "VALUE" %}
        <img src="{{ image_src|imresize('admin_thumb') }}" data-src="{{ asset(image_src) }}" alt="Caption"/>
    {% else %}
        <img src="http://placehold.it/260x180" alt="Caption"/>
    {% endif %}
{% endblock %}

{# common list widgets #}
{% block row_actions %}
    {% for action_route, action_config in list.actions %}
        {% set action_path = path(action_route, action_config.parameters | merge({'id': data_row.id })) %}
        <a class="btn btn-small" {{ block('row_action_confirm_attributes') }}href="{{ action_path }}">
            {% if action_config.options.icon is defined %}<i class="{{ action_config.options.icon }}"></i>{% endif %}
            {{ action_config.options.label|trans({}, 'SnowcapAdminBundle') }}
        </a>
    {% endfor %}
{% endblock %}

{% block row_action_confirm_attributes %}
    {% if action_config.options.confirm %}
        {% set options = action_config.options %}
        {% set confirm_attrs = ['confirm_title', 'confirm_confirm', 'confirm_cancel', 'confirm_body'] %}
        {% spaceless %}data-confirm="confirm" {% for confirm_attr in confirm_attrs %}data-{{ confirm_attr }}="{{ attribute(options, confirm_attr)|trans({}, 'SnowcapAdminBundle') }}" {% endfor %}{% endspaceless %}
    {% endif %}
{% endblock %}