{# datalist grid block #}
{% block datalist %}
    {% if datalist.option('search') %}
        {{ datalist_search(datalist) }}
    {% endif %}
    {% if datalist.filterable %}
        <div class="row-fluid">
            <div class="span9">
                {{ block('datalist_table') }}
            </div>
            <div class="span3">{{ datalist_filters(datalist) }}</div>
        </div>
    {% else  %}
        {{ block('datalist_table') }}
    {% endif %}

    {% if datalist.paginator is not null %}
        {{ paginator_widget(datalist.paginator) }}
    {% endif %}
{% endblock datalist %}

{# datalist table block #}
{% block datalist_table %}
    <table class="table table-striped">
        <thead>
        <tr>
            {% for field in datalist.fields %}
                <th>{{ field.options['label']|trans({}, translation_domain) }}</th>
            {% endfor %}
            {% if datalist.actions|length > 0 %}
                <th>{{ "content.actions.header"|trans({}, 'SnowcapAdminBundle') }}</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for item in datalist %}
            <tr>
                {% for field in datalist.fields %}
                    {{ datalist_field(field, item) }}
                {% endfor %}
                {% if datalist.actions|length > 0 %}
                    <td class="listing-actions">
                        {% for action in datalist.actions %}
                            {{ datalist_action(action, item) }}{% if not loop.last %} {% endif %}
                        {% endfor %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock datalist_table %}

{# text field #}
{% block text_field %}
    <td>
        {% if value is not null %}
            {{ value|raw }}
        {% else %}
            <span class="empty-value">{{ "datalist.empty_value"|trans({}, "SnowcapAdminBundle") }}</span>
        {% endif %}
    </td>
{% endblock text_field %}

{# datetime field #}
{% block datetime_field %}
    <td>
        {% if value is not null %}
            {{ value|date(options['format'])  }}
        {% else %}
            <span class="empty-value">{{ "datalist.empty_value"|trans({}, "SnowcapAdminBundle") }}</span>
        {% endif %}
    </td>
{% endblock datetime_field %}

{# label field #}
{% block label_field %}
    <td><span class="label label-{{ class }}">{{ value|trans({}, translation_domain) }}</span></td>
{% endblock label_field %}

{# label field #}
{% block boolean_field %}
    {% set label_class = value == true ? 'label-success' : 'label-important' %}
    {% set label = ("label " ~ label_class)|trim %}
    {%
        set text = value == true ?
            true_label|trans({}, 'translation_domain')|default('Yes') :
            false_label|trans({}, 'teanslation_domain')|default('No')
    %}
    <td><span class="label {{ label }}">{{ text }}</span></td>
{% endblock boolean_field %}

{# heading field #}
{% block heading_field %}
    <th>
        {% if value is not null %}
            {{ value|raw }}
        {% else %}
            <span class="empty-value">{{ "datalist.empty_value"|trans({}, "SnowcapAdminBundle") }}</span>
        {% endif %}
    </th>
{% endblock heading_field %}

{# datalist search #}
{% block datalist_search %}
    <form class="form-search" method="get" novalidate>
        <div class="input-append">
            {{ form_widget(form.search, {'attr': {'placeholder': placeholder|trans({}, "SnowcapAdminBundle"), 'class': 'input-xxlarge search-query'}}) }}
            <button type="submit" class="btn">{{ submit|trans({}, "SnowcapAdminBundle") }}</button>
        </div>
    </form>
{% endblock datalist_search %}

{# datalist filters #}
{% block datalist_filters %}
    <div class="well">
        <form class="form-vertical" method="get" novalidate>
            {% for filter in filters %}
                {{ datalist_filter(filter) }}
            {% endfor %}
            <button type="submit" class="btn btn-primary">{{ submit|trans({}, "SnowcapAdminBundle") }}</button>
            <a class="btn" href="{{ url }}">{{ reset|trans({}, "SnowcapAdminBundle") }}</a>
        </form>
    </div>
{% endblock datalist_filters %}

{# choice filter #}
{% block choice_filter %}
    <div class="control-group">
        {{ form_label(form, null, {'label_attr': {'class': 'control-label'}}) }}
        {{ form_widget(form, {'attr': {'class': 'input-medium'}}) }}
    </div>
{% endblock choice_filter %}

{# search filter #}
{% block search_filter %}
    <div class="control-group">
        {{ form_label(form, null, {'label_attr': {'class': 'control-label'}}) }}
        {{ form_widget(form, {'attr': {'class': 'input-medium'}}) }}
    </div>
{% endblock search_filter %}

{# entity filter #}
{% block entity_filter %}
    <div class="control-group">
        {{ form_label(form, null, {'label_attr': {'class': 'control-label'}}) }}
        {{ form_widget(form, {'attr': {'class': 'input-medium'}}) }}
    </div>
{% endblock entity_filter %}

{# simple action #}
{% block simple_action %}
    <a href="{{ url }}">{{ label|trans({}, translation_domain) }}</a>
{% endblock simple_action %}