{# datalist grid block #}
{% block datalist %}
    {% if datalist.option('search') %}
        {{ datalist_search(datalist) }}
    {% endif %}
    {% if datalist.filterable %}
        <div class="row-fluid">
            <div class="span9">
                {{ block('datalist_table') }}
            </div>
            <div class="span3">{{ datalist_filters(datalist) }}</div>
        </div>
    {% else  %}
        {{ block('datalist_table') }}
    {% endif %}

    {% if datalist.paginator is not null %}
        {{ paginator_widget(datalist.paginator) }}
    {% endif %}
{% endblock datalist %}

{# datalist table block #}
{% block datalist_table %}
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            {% for field in datalist.fields %}
                <th>{{ field.options['label']|trans({}, translation_domain) }}</th>
            {% endfor %}
            {% if datalist.actions|length > 0 %}
                <th>{{ "content.actions.header"|trans({}, 'SnowcapAdminBundle') }}</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for item in datalist %}
            <tr>
                {% for field in datalist.fields %}
                    {{ datalist_field(field, item) }}
                {% endfor %}
                {% if datalist.actions|length > 0 %}
                    <td class="listing-actions">
                        {% for action in datalist.actions %}
                            {{ datalist_action(action, item) }}{% if not loop.last %} {% endif %}
                        {% endfor %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock datalist_table %}

{# datalist text field type block #}
{% block datalist_field_text %}
    <td>
        {% if value is not null %}
            {{ value|raw }}
        {% else %}
            <span class="empty-value">{{ "datalist.empty_value"|trans({}, "SnowcapAdminBundle") }}</span>
        {% endif %}
    </td>
{% endblock datalist_field_text %}

{# datalist datetime field type block #}
{% block datalist_field_datetime %}
    <td>
        {% if value is not null %}
            {{ value|date(options['format'])  }}
        {% else %}
            <span class="empty-value">{{ "datalist.empty_value"|trans({}, "SnowcapAdminBundle") }}</span>
        {% endif %}
    </td>
{% endblock datalist_field_datetime %}

{# datalist label field type block #}
{% block datalist_field_label %}
    <td><span class="label label-{{ class }}">{{ value|trans({}, translation_domain) }}</span></td>
{% endblock datalist_field_label %}

{# datalist heading field type block #}
{% block datalist_field_heading %}
    <th>
        {% if value is not null %}
            {{ value|raw }}
        {% else %}
            <span class="empty-value">{{ "datalist.empty_value"|trans({}, "SnowcapAdminBundle") }}</span>
        {% endif %}
    </th>
{% endblock datalist_field_heading %}

{# datalist search block #}
{% block datalist_search %}
    <form class="form-search" method="get">
        <div class="input-append">
            {{ form_widget(form.search, {'attr': {'placeholder': placeholder|trans({}, "SnowcapAdminBundle"), 'class': 'input-xxlarge search-query'}}) }}
            <button type="submit" class="btn">{{ submit|trans({}, "SnowcapAdminBundle") }}</button>
        </div>
    </form>
{% endblock datalist_search %}

{# datalist filters block #}
{% block datalist_filters %}
    <div class="well">
        <form class="form-vertical" method="get">
            {% for filter in filters %}
                {{ datalist_filter(filter) }}
            {% endfor %}
            <button type="submit" class="btn btn-primary">{{ submit|trans({}, "SnowcapAdminBundle") }}</button>
            <a class="btn" href="{{ url }}">{{ reset|trans({}, "SnowcapAdminBundle") }}</a>
        </form>
    </div>
{% endblock datalist_filters %}

{# datalist choice filter block #}
{% block datalist_filter_choice %}
    <div class="control-group">
        {{ form_label(form, null, {'label_attr': {'class': 'control-label'}}) }}
        {{ form_widget(form, {'attr': {'class': 'input-medium'}}) }}
    </div>
{% endblock datalist_filter_choice %}

{% block datalist_filter_search %}
    <div class="control-group">
        {{ form_label(form, null, {'label_attr': {'class': 'control-label'}}) }}
        {{ form_widget(form, {'attr': {'class': 'input-medium'}}) }}
    </div>
{% endblock datalist_filter_search %}

{% block datalist_filter_entity %}
    <div class="control-group">
        {{ form_label(form, null, {'label_attr': {'class': 'control-label'}}) }}
        {{ form_widget(form, {'attr': {'class': 'input-medium'}}) }}
    </div>
{% endblock datalist_filter_entity %}

{% block datalist_action_simple %}
    <a href="{{ url }}">{{ label|trans({}, translation_domain) }}</a>
{% endblock datalist_action_simple %}