{% macro menu_item(admin) %}
<li>
    <a href="{{ admin.defaultUrl }}" >{{ admin.name }}</a>
</li>
{% endmacro %}

{# navigation block #}
{% block navigation %}

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">

                {# brand block #}
                {% block brand %}

                    <a class="brand" href="{{ path('snowcap_admin_default_index') }}">
                        {{ "project.name"|trans({}, 'SnowcapAdminBundle') }}
                    </a>

                {% endblock brand %}

                <ul class="nav">

                    {# main_nav block #}
                    {% block main_nav %}

                        {% for admin in sections %}
                            {{ _self.menu_item(admin) }}
                        {% endfor %}

                    {% endblock main_nav %}

                </ul>
            </div>
        </div>
    </div>

{% endblock navigation %}