{% macro menu_item(route, routeParams, label, title) %}
    <li>
        <a href="{{ path(route, routeParams) }}" title="{{ title | trans }}">{{ label | trans }}</a>
    </li>
{% endmacro %}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="{{ path('snowcap_admin_default_index') }}">
                {{ "project.name"|trans({}, 'SnowcapAdminBundle') }}
            </a>
            <ul class="nav">
                {% for admin in sections %}
                    {{ _self.menu_item('snowcap_admin_content_index', {'code': admin.code}, admin.param('label')) }}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>