{% if form is defined %}
    <h2>Upload</h2>
    <hr/>
    <form action="{{ path('snowcap_admin_wysiwyg_browser', arguments) }}" {{ form_enctype(form) }} method="post" class="well form-inline" novalidate="novalidate">
        {{ form_widget(form.file) }}
        {{ form_widget(form.tags, { 'attr': { 'placeholder': 'Enter tags for further search'}}) }}
        <button type="submit" class="btn">Submit</button></div>
        {{ form_rest(form) }}
    </form>
{% endif %}
{% if url is defined %}
    <script type='text/javascript'>
        window.opener.CKEDITOR.tools.callFunction({{ arguments.CKEditorFuncNum}}, '{{ asset(url) }}', '{{ message|default('') }}');
        window.close();
    </script>
{% endif %}