{% if form is defined %}
    <h2>Upload</h2>
    <hr/>
    <form action="{{ path('snowcap_admin_wysiwyg_browser', arguments) }}" {{ form_enctype(form) }} method="post" class="form-vertical" novalidate="novalidate">
        <fieldset>
            <div class="row">
                <div class="span3">{{ form_row(form.file) }}</div>
                <div class="span3">{{ form_row(form.tags) }}</div>
                <div class="span3"><button type="submit" class="btn btn-primary btn-small">Submit</button></div>
                {{ form_rest(form) }}
            </div>
        </fieldset>
    </form>
{% endif %}
{% if url is defined %}
    <script type='text/javascript'>
        window.opener.CKEDITOR.tools.callFunction({{ arguments.CKEditorFuncNum}}, '{{ asset(url) }}', '{{ message|default('') }}');
        window.close();
    </script>
{% endif %}
