{% macro element(key, value, level, parent, fallback) %}
    {% if is_array(value) %}
        <h{{ level }} class="level-header">{{ key }}</h{{level}}>
        {% for subkey, subvalue in value %}
            <ul class="level{{ level }} {% if level == 3 %} well{%endif%}" >
                {{ _self.element(subkey, subvalue, (level+1), parent ~ '[' ~ key ~ ']', fallback[subkey])}}
            </ul>
        {% endfor %}
    {% else %}
        <li>
            <div class="control-group">
                <label class="control-label">{{ key }}</label>
                <div class="controls">
                    <textarea rows="1" name="data{{ parent }}[{{ key }}]">{{ value }}</textarea>
                    <p class="help-block">{{ fallback }}</p>
                </div>
            </div>
        </li>
    {% endif %}
{% endmacro %}
{% set active_locales = get_active_locales(_locale) %}
{% extends "SnowcapAdminBundle::base.html.twig" %}
{% block body %}

<a data-toggle="modal" href="#catalog-translation-help-modal" class="btn btn-info pull-right"><i class="icon-question-sign icon-white"></i>&nbsp;{{ 'cataloguetranslation.help.button' | trans({}, 'SnowcapAdminBundle') }}</a>

<div class="page-header">
        <h2>{{ 'cataloguetranslation.title' | trans({}, 'SnowcapAdminBundle') }}</h2>
    </div>

    <div class="row">
        <div class="span3">
            <div class="well">
                {% for catalogue, languages in catalogues %}
                    <h4>{{ catalogue }}</h4>
                    {% for language, content in languages %}
                        {% if activeCatalogueName == catalogue and activeCatalogueLocale == language %}
                            {{ active_locales[language] }}<br/>
                        {% else %}
                            <a href=" {{ path('snowcap_admin_cataloguetranslation_index', { 'catalogue': catalogue, 'locale': language})}}">{{ active_locales[language] }}</a><br/>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>

        </div>
        <div class="span9 catalogue-translation">

            <form method="post" class="form-horizontal">

            {% for key, element in activeCatalogue %}
                {{ _self.element(key, element, 3, null, fallbackCatalogue[key])}}
            {% else %}
                {{ 'cataloguetranslation.novalues' | trans({}, 'SnowcapAdminBundle') }}
            {% endfor %}

            {% if is_array(activeCatalogue) and (activeCatalogue | length) > 0 %}
                <div class="form-actions">
                    <input type="submit" class="btn" value="{{ 'cataloguetranslation.submit' | trans({}, 'SnowcapAdminBundle') }}" />
                </div>
            {% endif %}

            </form>

        </div>
    </div>

    <div id="catalog-translation-help-modal" class="modal hide fade span10">

        <div class="modal-header">
            <button class="close" data-dismiss="modal">×</button>
            <h3>{{ 'cataloguetranslation.help.title' | trans({}, 'SnowcapAdminBundle') }}</h3>
        </div>
        <div class="modal-body">

            <p>{{ ('cataloguetranslation.help.introduction') | trans({}, 'SnowcapAdminBundle') | raw}}</p>

            {% set helptopics = ['dynamic', 'plural'] %}
            {% for helptopic in helptopics %}

            <h4>{{ ('cataloguetranslation.help.' ~ helptopic ~ '.title') | trans({}, 'SnowcapAdminBundle') }}</h4>

            {{ ('cataloguetranslation.help.' ~ helptopic ~ '.description') | trans({}, 'SnowcapAdminBundle') | raw}}

            <br/><br/>

            <h5>{{ 'cataloguetranslation.help.example' | trans({}, 'SnowcapAdminBundle') }}</h5>
            <div class="alert alert-info">
                {{ ('cataloguetranslation.help.' ~ helptopic ~ '.example') | trans({}, 'SnowcapAdminBundle') | raw }}
            </div>

            <br/>
            {% endfor %}
        </div>
    </div>

{% endblock %}