{% extends 'SnowcapBootstrapBundle:Form:form_bootstrap_layout.html.twig' %}

{# entity widget #}
{% block snowcap_admin_entity_widget %}
    <div class="form-inline" data-admin="form-type-entity">
        {{ block('choice_widget') }}
        {% if allow_add %}
            &nbsp;<a href="{{ add_url }}" class="btn" data-admin="form-type-entity-add">{{ add_label|trans({}, translation_domain) }}</a>
        {% endif %}
    </div>
{% endblock snowcap_admin_entity_widget %}

{# autocomplete widget #}
{% block snowcap_admin_autocomplete_widget %}
    {% if compound %}
        {{ block('snowcap_admin_autocomplete_multiple_widget') }}
    {% else %}
        {{ block('snowcap_admin_autocomplete_single_widget') }}
    {% endif %}
{% endblock snowcap_admin_autocomplete_widget %}

{% block snowcap_admin_autocomplete_single_widget %}
{% spaceless %}
    <div class="form-autocomplete form-autocomplete-single" data-admin="form-autocomplete" data-options-mode="single" data-options-url="{{ list_url }}">
        {{ form_widget(form, {'type': 'hidden'}) }}
        {% set text_widget %}
            <input type="text"{% if text_value is not empty %} value="{{ text_value }}"{% endif %}  {{ block('snowcap_admin_autocomplete_widget_attributes') }}/>
        {% endset %}
        {% if allow_add %}
            <div class="input-append">
                {{ text_widget }}
                <a href="{{ add_url }}" class="btn" data-admin="content-add">
                    <i class="icon-plus"></i> {{ add_label|trans({}, translation_domain) }}
                </a>
            </div>
        {% else %}
            {{ text_widget }}
        {% endif %}
    </div>
{% endspaceless %}
{% endblock snowcap_admin_autocomplete_single_widget %}

{% block snowcap_admin_autocomplete_multiple_widget %}
    {% spaceless %}
        <div class="form-autocomplete form-autocomplete-multiple" data-admin="form-autocomplete" data-options-mode="multiple" data-options-url="{{ list_url }}" data-prototype="{{ form_row(prototype)|e }}">
            {% for child in form %}
                {{ form_widget(child) }}
            {% endfor %}
            {% set text_widget %}
                <ul class="tokens">
                    {% for value, text_value in text_values %}
                        <li class="token" data-value="{{ value }}">
                            <span>{{ text_value }}</span><a href="#" class="close" rel="remove">&times;</a>
                        </li>
                    {% endfor %}
                </ul>
                {% set attr = attr|merge({'class': (attr.class|default('') ~ ' token-input')|trim }) %}
                <input type="text" {{ block('snowcap_admin_autocomplete_widget_attributes') }}/>
            {% endset %}
            {% if allow_add %}
                <div class="input-append">
                    {{ text_widget }}
                    <a href="{{ add_url }}" class="btn" data-admin="content-add">
                        <i class="icon-plus"></i> {{ add_label|trans({}, translation_domain) }}
                    </a>
                </div>
            {% else %}
                {{ text_widget }}
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock snowcap_admin_autocomplete_multiple_widget %}

{% block snowcap_admin_autocomplete_widget_attributes %}
    {% spaceless %}
        id="_{{ id }}" name="_{{ full_name }}" autocomplete="off"{% if read_only %} readonly="readonly"{% endif %}{% if disabled %} disabled="disabled"{% endif %}{% if required %} required="required"{% endif %}{% if max_length %} maxlength="{{ max_length }}"{% endif %}{% if pattern %} pattern="{{ pattern }}"{% endif %}
        {% for attrname, attrvalue in attr %}{% if attrname in ['placeholder', 'title'] %}{{ attrname }}="{{ attrvalue|trans({}, translation_domain) }}" {% else %}{{ attrname }}="{{ attrvalue }}" {% endif %}{% endfor %}
    {% endspaceless %}
{% endblock snowcap_admin_autocomplete_widget_attributes %}

{# slug widget #}
{% block snowcap_admin_slug_widget %}
    {% set attr = attr|merge({'class': 'widget-slug', 'data-target': target }) %}
    <div class="input-append">
        {{ block('form_widget') }}
        <span class="add-on"><a href="#locked"><i class="icon-pencil icon"></i></a></span>
    </div>
    {% from 'SnowcapBootstrapBundle::macros.html.twig' import modal %}
    {{ modal('modal-' ~ id, 'ATTENTION', 'If you change the slug, you can break links on other pages') }}
{% endblock snowcap_admin_slug_widget %}

{# markdown widget #}
{% block snowcap_admin_markdown_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': attr.class|default('widget-markdown')}) %}
    <div class="tabbable tabs-below">

        <div class="tab-content">
            <div class="tab-pane active" id="textarea-{{ id }}">
                <textarea {{ block('widget_attributes') }} data-url="{{ path('snowcap_admin_markdown') }}" rows="10">{{ value }}</textarea>
            </div>
            <div class="tab-pane" id="preview-{{ id }}">
                <div class="markdown-previewer">&nbsp;</div>
            </div>
        </div>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#textarea-{{ id }}" data-toggle="tab" class="text-trigger">Text</a></li>
            <li><a href="#preview-{{ id }}" data-toggle="tab" class="preview-trigger">Preview</a></li>
        </ul>
    </div>
{% endspaceless %}
{% endblock %}

{# wysiwyg widget #}
{% block snowcap_admin_wysiwyg_widget %}
    {% set attr = attr|merge({'class': attr.class|default('widget-wysiwyg'), 'data-wysiwyg': wysiwyg_config}) %}
    {{ block('textarea_widget') }}
{% endblock %}

{# collection widget #}
{% block collection_widget %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype': form_row(prototype) }) %}
        {% endif %}
        <div
            class="form-collection control-group"
            data-admin="form-collection"{% if confirm_delete %} data-options-confirm-delete-url="{{ confirm_delete_url }}"{% endif %}
        >
            {{ block('form_widget') }}
            {% if allow_add %}
                <div class="btn-group">
                    <a href="#" class="btn" data-admin="form-collection-add">
                        <i class="icon-plus-sign"></i> {{ add_label|trans({}, translation_domain) }}
                    </a>
                </div>
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock collection_widget %}

{% block text_widget %}
    {% if text_autocomplete %}
        <div class="form-text-autocomplete" data-admin="form-text-autocomplete" data-options-url="{{ list_url }}">
            {{ block('form_widget') }}
        </div>
    {% else %}
        {{ block('form_widget') }}
    {% endif %}
{% endblock text_widget %}