{% extends 'SnowcapBootstrapBundle:Form:form_bootstrap_layout.html.twig' %}

{# entity widget #}
{% block snowcap_admin_entity_widget %}
    <div class="form-inline" data-admin="form-type-entity">
        {{ block('choice_widget') }}
        {% if allow_add %}
            &nbsp;<a href="{{ add_url }}" class="btn" rel="add">{{ add_label|trans({}, translation_domain) }}</a>
        {% endif %}
    </div>
{% endblock snowcap_admin_entity_widget %}

{# autocomplete widget #}
{% block snowcap_admin_autocomplete_widget %}
    {% set text_attr = attr %}
    {% set attr = {} %}
    {% set widget_mode = multiple ? 'multiple' : 'single' %}
    <div class="form-autocomplete{% if multiple %} form-autocomplete-multiple{% endif %}" data-admin="form-type-autocomplete" data-list-url="{{ list_url }}">
        {{ block('snowcap_admin_autocomplete_widget_' ~ widget_mode) }}
        {% set text_widget %}
            {{ block('snowcap_admin_autocomplete_widget_' ~ widget_mode ~ '_text') }}
        {% endset %}
        {% if allow_add %}
            <div class="input-append">
                {{ text_widget }}
                <a href="{{ add_url }}" class="btn" rel="add">
                    <i class="icon-plus"></i> {{ add_label|trans({}, translation_domain) }}
                </a>
            </div>
        {% else %}
            {{ text_widget }}
        {% endif %}
    </div>
{% endblock snowcap_admin_autocomplete_widget %}

{% block snowcap_admin_autocomplete_widget_single %}
    <input type="hidden" name="{{ full_name }}" id="{{ id }}" {% if value is not empty %}value="{{ value }}" {% endif %}/>
{% endblock snowcap_admin_autocomplete_widget_single %}

{% block snowcap_admin_autocomplete_widget_multiple %}
    {% for index, single_value in value %}
        <input type="hidden" name="{{ full_name }}" id="{{ id ~ "-" ~ index }}" {% if single_value is not empty %}value="{{ single_value }}" {% endif %}/>
    {% endfor %}
{% endblock snowcap_admin_autocomplete_widget_multiple %}

{% block snowcap_admin_autocomplete_widget_single_text %}
    <input type="text" id="{{ id }}" name="{{ full_name }}" {% if text_value is not empty %}value="{{ text_value }}" {% endif %}/>
{% endblock snowcap_admin_autocomplete_widget_single_text %}

{% block snowcap_admin_autocomplete_widget_multiple_text %}
    <ul class="tokens">
        {% for single_text_value in text_value %}
            <li class="token">
                {{ single_text_value }}<a class="close" rel="remove">&times;</a>
            </li>
        {% endfor %}
        <li class="token-input">
            <input type="text"/>
        </li>
    </ul>
{% endblock snowcap_admin_autocomplete_widget_multiple_text %}

{% block snowcap_admin_autocomplete_widget_attributes %}
    id="{{ id }}-text" name="{{ id }}-text"{% for attrname, attrvalue in text_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}
{% endblock %}

{# slug widget #}
{% block slug_widget %}
    {% set attr = attr|merge({'class': 'widget-slug', 'data-target': target }) %}
    <div class="input-append">
        {{ block('field_widget') }}
        <span class="add-on"><a href="#locked"><i class="icon-pencil icon"></i></a></span>
    </div>
    {% from 'SnowcapBootstrapBundle::macros.html.twig' import modal %}
    {{ modal('modal-' ~ id, 'ATTENTION', 'If you change the slug, you can break links on other pages') }}
{% endblock slug_widget %}

{# markdown widget #}
{% block snowcap_admin_markdown_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': attr.class|default('widget-markdown')}) %}
    <div class="tabbable tabs-below">

        <div class="tab-content">
            <div class="tab-pane active" id="textarea-{{ id }}">
                <textarea {{ block('widget_attributes') }} data-url="{{ path('snowcap_admin_markdown') }}" rows="10">{{ value }}</textarea>
            </div>
            <div class="tab-pane" id="preview-{{ id }}">
                <div class="markdown-previewer">&nbsp;</div>
            </div>
        </div>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#textarea-{{ id }}" data-toggle="tab" class="text-trigger">Text</a></li>
            <li><a href="#preview-{{ id }}" data-toggle="tab" class="preview-trigger">Preview</a></li>
        </ul>
    </div>
{% endspaceless %}
{% endblock %}

{# wysiwyg widget #}
{% block snowcap_admin_wysiwyg_widget %}
    {% set attr = attr|merge({'class': attr.class|default('widget-wysiwyg'), 'data-wysiwyg': wysiwyg_config}) %}
    {{ block('textarea_widget') }}
{% endblock %}
