{% extends 'SnowcapBootstrapBundle:Form:widgets.html.twig' %}

{% block snowcap_admin_inline_widget %}
    {{ block('choice_widget') }}
    <ul class="selected row">
        {% if value is not empty %}
            {% set results = multiple ? data : [data] %}
            {% for result in results %}
                {% include 'SnowcapAdminBundle:InlineContent:preview.html.twig' with {'entity': result, 'admin': inline_admin }%}
            {% endfor %}
        {% endif %}
    </ul>
    <div class="autocomplete-wrapper">
        <input class="autocomplete" placeholder="{{ "inline_content.search"|trans({}, 'SnowcapAdminBundle') }}" type="text" data-url="{{ path('snowcap_admin_inlinecontent_autocomplete', {'code': inline_admin.code, 'input': 'placeholder'}) }}"/>
        {% if allow_add %}
            <a class="btn btn-small btn-primary" rel="create" href="{{ path('snowcap_admin_inlinecontent_create', {'code': inline_admin.code }) }}">
                <i class="icon-plus icon-white"></i> {{ "inline_content.create"|trans({}, 'SnowcapAdminBundle') }}
            </a>
        {% endif %}
        <div class="autocomplete-results"></div>
    </div>
{% endblock %}

{% block snowcap_admin_content_filter_widget %}
    {{ form_widget(form.value, {attr: attr}) }}
{% endblock %}

{% block slug_widget %}
    {% set attr = attr|merge({'class': 'widget-slug', 'data-target': target }) %}
    <div class="input-append">
        {{ block('field_widget') }}
        <span class="add-on"><a href="#locked"><i class="icon-pencil icon"></i></a></span>
    </div>
    {% from 'SnowcapBootstrapBundle::macros.html.twig' import modal %}
    {{ modal('modal-' ~ id, 'ATTENTION', 'If you change the slug, you can break links on other pages') }}
{% endblock slug_widget %}

{% block snowcap_admin_markdown_widget %}
{% set attr = attr|merge({'class': attr.class|default('widget-markdown')}) %}
{% spaceless %}
    <div class="tabbable tabs-below">

        <div class="tab-content">
            <div class="tab-pane active" id="textarea-{{ id }}">
                <textarea {{ block('widget_attributes') }} data-url="{{ path('snowcap_admin_markdown') }}" rows="10">{{ value }}</textarea>
            </div>
            <div class="tab-pane" id="preview-{{ id }}">
                <div class="markdown-previewer">&nbsp;</div>
            </div>
        </div>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#textarea-{{ id }}" data-toggle="tab" class="text-trigger">Text</a></li>
            <li><a href="#preview-{{ id }}" data-toggle="tab" class="preview-trigger">Preview</a></li>
        </ul>
</div>
{% endspaceless %}
{% endblock %}

{% block snowcap_admin_wysiwyg_widget %}
{% set attr = attr|merge({'class': attr.class|default('widget-wysiwyg'), 'data-wysiwyg': wysiwyg_config}) %}
{{ block('textarea_widget') }}
{% endblock %}
