{% extends 'SnowcapBootstrapBundle:Form:widgets.html.twig' %}

{% block snowcap_admin_inline_widget %}
    {{ block('choice_widget') }}
    <p class="empty">{{ "inline_content.empty"|trans({}, 'SnowcapAdminBundle') }}</p>
    <ul class="selected row">
        {% if value is not empty %}
            {% set results = multiple ? data : [data] %}
            {% for result in results %}
                {% include 'SnowcapAdminBundle:InlineContent:preview.html.twig' with {'entity': result, 'admin': environment.admin(inline_admin) }%}
            {% endfor %}
        {% endif %}
    </ul>
    <div class="autocomplete-wrapper">
        <input class="autocomplete" placeholder="{{ "inline_content.search"|trans({}, 'SnowcapAdminBundle') }}" type="text" data-url="{{ path('snowcap_admin_inlinecontent_autocomplete', {'code': environment.admin(inline_admin).code, 'input': 'placeholder'}) }}"/>
        <a class="btn btn-small btn-primary" rel="create" href="{{ path('snowcap_admin_inlinecontent_create', {'code': environment.admin(inline_admin).code }) }}">
            <i class="icon-plus icon-white"></i> {{ "inline_content.create"|trans({}, 'SnowcapAdminBundle') }}
        </a>
        <div class="autocomplete-results"></div>
    </div>
{% endblock %}

{% block field_row %}
{% if attr is not defined %}{% set attr = {} %}{% endif %}
{% spaceless %}
    {% if 'snowcap_admin_inline' in types %}
        <div class="control-group{% if errors|length > 0 %} error{% endif %} {{ form_row_classes(types) }}">
            {{ form_widget(form, {'attr': attr}) }}
            {% if help_block is defined %}
                <p class="help-block">{{ help_block }}</p>
            {% elseif help_inline is defined %}
                <span class="help-inline">{{ help_inline }}</span>
            {% endif %}
            {{ form_errors(form) }}
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endspaceless %}
{% endblock field_row %}

{% block slug_widget %}
    {% set attr = attr|merge({'class': 'widget-slug', 'data-target': target }) %}
    <div class="input-append">
        {{ block('field_widget') }}
        <span class="add-on"><a href="#locked"><i class="icon-pencil icon"></i></a></span>
    </div>
    {% from 'SnowcapBootstrapBundle::macros.html.twig' import modal %}
    {{ modal('modal-' ~ id, 'ATTENTION', 'If you change the slug, you can break links on other pages') }}
{% endblock slug_widget %}

{% block markdown_widget %}
{% set attr = attr|merge({'class': attr.class|default('widget-markdown')}) %}
{% spaceless %}
    <div class="tabbable tabs-below">

        <div class="tab-content">
            <div class="tab-pane active" id="textarea-{{ id }}">
                <textarea {{ block('widget_attributes') }} data-url="{{ path('snowcap_admin_markdown') }}" rows="10">{{ value }}</textarea>
            </div>
            <div class="tab-pane" id="preview-{{ id }}">
                <div class="markdown-previewer">&nbsp;</div>
            </div>
        </div>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#textarea-{{ id }}" data-toggle="tab" class="text-trigger">Text</a></li>
            <li><a href="#preview-{{ id }}" data-toggle="tab" class="preview-trigger">Preview</a></li>
        </ul>
</div>
{% endspaceless %}
{% endblock %}

{% block wysiwyg_widget %}
{% set attr = attr|merge({'class': attr.class|default('widget-wysiwyg'), 'data-stylefileurl': asset(style_file), 'data-cssfileurl': asset(css_file), 'data-browserurl': browser_url }) %}
{{ block('textarea_widget') }}
{% endblock %}

{% block collection_widget %}
{% spaceless %}
    {% if prototype is defined %}
        {% set attr = attr|merge({'data-prototype': form_row(prototype) }) %}
    {% endif %}
    {% if tabbable %}
        <div class="tabbable">
            <ul class="nav nav-tabs">
                {% for key, row in form %}
                    {% set label = row[property].get('value') %}
                    <li{% if loop.first %} class="active"{% endif %}><a href="#{{ html_id }}-{{label}}" data-toggle="tab">{{ label }}</a></li>
                {% endfor %}
            </ul>
            <div class="tab-content">
            {% for key, row in form %}
                {% set label = row[property].get('value') %}
                {% spaceless %}
                        <div class="tab-pane{% if loop.first %} active{% endif %}" id="{{ html_id }}-{{label}}">
                            {{ form_errors(row) }}
                            {{ form_widget(row, {'attr': widget_attr|default({})}) }}
                        </div>
                {% endspaceless %}
            {% endfor %}
            </div>
        </div>
    {% else %}
        {{ block('form_widget') }}
    {% endif %}
{% endspaceless %}
{% endblock collection_widget %}
