{% extends "SnowcapAdminBundle::modal_base.html.twig" %}

{% block modal_title %}<h3>{{ form_title }}</h3>{% endblock %}

{% block modal_body %}
<form action="{{ form_action }}" method="post" {{ form_enctype(form) }} novalidate="novalidate">
    {{ form_widget(form) }}
</form>
{% endblock %}

{% block modal_footer%}
<button type="submit"
        class="btn btn-large btn-primary">{{ "content.save"|trans({}, 'SnowcapAdminBundle') }}</button>{% endblock %}